extends layout

block content
    div(id="loading" class="w-100 h-50 d-flex justify-content-center align-items-center position-absolute bg-white opacity-75")
        div(class="spinner-grow text-dark" style="width: 5rem;height: 5rem")
            span(class="visually-hidden")
    div(class="d-flex d-inline w-100")
        div(class="d-flex justify-content-start w-50")
            h1 Clientes
        div(class="d-flex justify-content-end align-items-end w-50")
            a(type="button" class="btn btn-primary" href="/cliente") Adicionar
    table(class="table")
      thead
        tr
          th(style="width: 20%") Nome  
          th(style="width: 20%") Email  
          th(style="width: 20%") Data Nascimento 
          th(style="width: 20%") Celular
          th(style="width: 20%") 
      tbody  

block script
 script(type="module" src="/controllers/clientesController.js")